<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
</head>
<body>
    <nav class="navbar has-text-cen" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{url_for('home')}}">
            <p class="title">Yupload</p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{url_for('home')}}">
              Home
            </a>
            <a class="navbar-item" href="{{url_for('aboutUs')}}">
                About
            </a>
          </div>
        </div>
      </nav>
      <div class="container">
          <section class="has-text-centered">
              <p class="title">About</p>
              <div class="content">
                  <p class="subtitle"><b><a href="https://github.com/mazzya/yupload" target="_blank">Yupload</a></b> is a sample project showing how to upload files with flask. This project has been developed by <b><a href="https://github.com/Mazzya" target="_blank">Mazzya</a></b></p>
              </div>
          </section>
      </div>
</body>
</html>