<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <nav class="navbar has-text-cen" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
            <p class="title">YUPLOAD</p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="index.html">
              Home
            </a>
            <a class="navbar-item">
              My files
            </a>
            <a class="navbar-item" href="about.html">
                About us
            </a>
          </div>
        </div>
      </nav>
      <div class="container">
          <section class="has-text-centered">
              <p class="title">About us</p>
              <div class="content">
                  <p class="subtitle">Upload is an open source project that allows you to upload and share files so that the community can download them. This project has been developed mainly by <b><a href="https://github.com/Mazzya">Mazzya</a></b></p>
              </div>
          </section>
      </div>
</body>
</html>