<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/eff9a7014b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar has-text-cen" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{url_for('home')}}">
            <p class="title">Yupload</p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{url_for('home')}}">
              Home
            </a>
            <a class="navbar-item" href="{{url_for('aboutUs')}}">
                About
            </a>
          </div>
        </div>
      </nav>
      <div class="container">
          <section class="has-text-centered">
              <div class="content">
                <p class="title">Upload and share your files easily !</p>
                <br>
              </div>
          </section>
          <section class="has-text-centered">
              <form action="{{ url_for('uploadFile') }}" method="post" enctype="multipart/form-data">
                  <input type="file" name="ourfile"> <br><br>
                  <button type="submit" class="button is-danger">Upload file</button>
              </form>
          </section>
          <br>
          <section class="has-text-centered">
            <p class="title">Files</p>
            {% if files%}
            {% for file in files %}
            <li><a href="{{url_for('getFile', filename=file)}}" download>{{file}}</a></li>
            {% endfor %}
            {% else %}
            <p>Empty</p>
            {% endif %}
          </section>
      </div>
</body>
</html>