<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/eff9a7014b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <section class="has-text-centered">
            <div class="box">
                <span class="icon-text">
                    <span>Oops, this page doesn't exist</span>
                    <span class="icon">
                        <i class="fas fa-exclamation"></i>
                    </span>
                </span>
            </div>
        </section>
    </div>
</body>
</html>